<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </assemblies>
    </compilation>
    <!--最大上传文件大小及响应时间-->
    <httpRuntime maxRequestLength="104857600" executionTimeout="3600" requestValidationMode="2.0" targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="ConnStr" connectionString="Server=.; Database=Test;Persist Security Info=True;User ID=sa;password=***"/>
    <add name="sqlite" connectionString="Data Source=|DataDirectory|\Local.db;Pooling=true;FailIfMissing=false" providerName="System.Data.SQLite"/>
    <!--<add key="sqlite" value="Data Source=E:\Db\SQLite\MediaCenter.db;Initial Catalog=sqlite;Integrated Security=True;Max Pool Size=10"/>-->
    <add name="sqlCe" connectionString="Data Source=|DataDirectory|\Local.sdf" providerName="System.Data.SqlServerCe.4.0"/>
    <!--<add name="ModelDConnection" connectionString="Data Source=|DataDirectory|\ModelDb.sdf" providerName="System.Data.SqlServerCe.4.0" />-->
  </connectionStrings>
  <appSettings>
    <add key="sqlite" value="Data Source=E:\My Documents\GitHub\hsp.webnovels\Hsp.Novels.Web\App_Data\Local.db;Initial Catalog=sqlite;Integrated Security=True;Max Pool Size=10"/>
    <!-- 默认分页大小 -->
    <add key="DefalutPageSize" value="10"/>
  </appSettings>
</configuration>